@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Muli', sans-serif;
    color: #FFFFFF;
    background: linear-gradient(to right, #205df3, #f36f20);
}

#root {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.app {
    width: 100%;
    max-width: 828px;
}